.form{
    width:22%;
    margin: auto;
    padding: 40px;
    height: 350px;
    margin-top:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(255, 255, 255, 0.5);
}
.input{
    /* padding: 40px; */
    width: 80%;
}
.body{
    border: 1px solid black;
    height: 90vh;
    background-image: url("../Media/Banner2.png");
background-position: center;

}

.Logo{
    margin: auto;
}
.Logo img{
    /* border-radius: 2rem; */
}
.buttonbox{
    display: flex;
    justify-content: center;
    align-items: center;
        padding:12px;
        font-size:1.2rem;
}
@media screen and (max-width:668px){
 .form{
    width: 50%;
    margin: 20vh auto;
 }   
 .input{
    width:60%;
 }
 .body{
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}
}