.box{
    height: auto;
    display: flex;
    width:96vw;
    margin: auto;
    padding: 10px;
    flex-direction: column;

}
.head{
    font-size: 1.3rem;
}
.Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.Container img{
    margin-top: 10px;
}
.cat{
    margin-left: 20px;
    cursor: pointer;
}