.container{
    color: aliceblue;
    height: 10px;
    display: flex;
    margin:auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    background: rgb(65,65,65);
    
}
.image{
    height:4rem;
}
.items{
    cursor: pointer;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.icon_set{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:max-content;
    justify-content: space-between;
}
@media screen and (max-width:790px) {
    .iconsName{
        display: none;
    }
    .items{
        width: 70%;
    }
    .image{
        height: 3rem;
    }
    
}
